<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<clear/>
		<add key="envType" value="staging"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="serverName" value="staging"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="credentialCollection" value="credentials_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="organizationCollection" value="organizations_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="assessmentCollection" value="assessments_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="learningOppCollection" value="learningopps_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="competencyFrameworkCollection" value="competency_frameworks_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="commonCollection" value="common_index_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		
		<add key="usingTempOverrideEmail" value="no" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- LOG SETTINGS ========================================================================
	Notes:
	- Be sure to give write access to the everyone role for the following log file
	-->
		<add key="logErrors" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="notifyOnException" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--<add key="isDebug" value="TRUE" />-->
		<add key="appTraceLevel" value="6"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="path.error.log" value="C:\@logs\staging\finder\[date]_FinderAPI_ErrorLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.email.log" value="C:\@logs\staging\finder\[date]_FinderAPI_EmailLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.trace.log" value="C:\@logs\staging\finder\[date]_FinderAPI_TraceLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


	</appSettings>
	<connectionStrings>

	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>