<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="envType" value="development" />
		<!-- do not include the forward slash with the cors URL-->
		<add key="corsSiteURL" value="http://localhost:49353" />
		<add key="finderApiSiteURL" value="https://localhost:44358/" />
		<add key="baseFinderSiteURL" value="https://localhost:44392/" />
		<add key="externalFinderSiteURL" value="https://localhost:44392/" />

		<add key="doingExpandOfRegion" value="true" />
		<!--<add key="externalFinderSiteURL" value="https://credentialfinder.dev.affinitybridge.com/" />-->
		<!-- ================= PENDING UPDATES ======================-->
		<add key="asmtUsingValueProfileForCreditValue" value="true" />
		<add key="loppUsingValueProfileForCreditValue" value="true" />
		<add key="condProfileUsingValueProfileForCreditValue" value="true" />

		<!-- API options. If true will be returned with data -->
		<add key="includeManifestDetails" value="false" />
		<add key="includeProcessProfileDetails" value="false" />
		<add key="includeVerficationServicesProfileDetails" value="false" />
		<add key="includeRegistryPayloadWithDetails" value="false" />


		<add key="includeHasPartIsPartWithConnections" value="true" />
		<add key="hidingDeprecatedStatus" value="false" />
		<add key="hideFrameworksNotPublished" value="true" />
		<add key="credentialCacheMinutes" value="0" />
		<add key="organizationCacheMinutes" value="0" />
		<add key="learningOppCacheMinutes" value="0" />

		<!-- set the following to true if using elastic. False indicates that seaches will use sql server -->
		<add key="usingElasticCredentialSearch" value="true" />
		<add key="usingElasticCredentialAutocomplete" value="false" />
		<add key="usingElasticOrganizationSearch" value="true" />
		<add key="usingElasticAssessmentSearch" value="true" />
		<add key="usingElasticLearningOppSearch" value="true" />
		<add key="usingElasticPathwaySearch" value="true" />
		<add key="usingElasticPathwaySetSearch" value="false" />
		<add key="usingElasticTransferValueSearch" value="true" />
		<add key="usingElasticCompetencyFrameworkSearch" value="true" />
		<add key="appendingOrgNameToAutocomplete" value="false" />

		<add key="usingMatchPhrasePrefixQuery" value="true" />
		<add key="usingPhrasePrefixQuery" value="true" />
		<add key="usingBestFieldsQuery" value="true" />
		<add key="usingCrossFieldsQuery" value="true" />

		<!--<add key="elasticVersion" value="6.x"/>
	  <add key="elasticSearchUrl" value="http://localhost:9200/"/>-->
		<add key="elasticVersion" value="7.x" />
		<add key="elasticSearchUrl" value="http://localhost:9207/" />
		<!--  names of the collection for each specific search -->
		<!--   	  -->
		<add key="buildingCredentialIndex" value="true" />
		
		<!-- Registry API -->
		<add key="MyCredentialEngineAPIKey" value="***TBD***" />
		<add key="AssistantCTDLJSONSearchAPIUrl" value="https://sandbox.credentialengine.org/assistant/search/ctdl" />

		<!--  sandbox  -->
		<add key="credentialCollection" value="credentials_sandbox" />
		<add key="organizationCollection" value="organizations_sandbox" />
		<add key="assessmentCollection" value="assessments_sandbox" />
		<add key="learningOppCollection" value="learningopps_sandbox" />
		<add key="competencyFrameworkCollection" value="competency_frameworks_sandbox" />
		<add key="commonCollection" value="common_index_sandbox" />
		<add key="pathwayCollection" value="pathways_sandbox" />

		<!-- registry -->
		<add key="defaultCommunity"				value="ce-registry" />
		<add key="additionalCommunity"			value="" />
		<add key="credentialRegistryUrl"		value="https://sandbox.credentialengineregistry.org/" />
		<add key="cerGetEnvelope"				value="https://sandbox.credentialengineregistry.org/{0}/envelopes/{1}" />
		<add key="credentialRegistrySearch"		value="https://sandbox.credentialengineregistry.org/{0}/search?" />
		<add key="credentialRegistryResource"	value="https://sandbox.credentialengineregistry.org/{0}/resources/{1}" />
		

		<!-- ACCOUNT/CONTACT US NOTIFICATION ====================================================== -->
		<!-- notifyOnEmailNotFound: if true, user will be notified where email not found during forgot password process -->
		<add key="notifyOnEmailNotFound" value="true" />
		<!-- EmailService: smtp, "serviceApi", mailgun -->
		<add key="emailService" value="mailgun" />
		<add key="MailgunSendingDomainName" value="credentialengine.org" />
		<add key="MailgunSecretAPIKey" value="key-TBD" />
		<add key="MailgunPublicAPIKey" value="pubkey-TBD" />
		<!-- use web service, and ignore others TEMP UNTIL OUR OWN IS SET UP-->
		<add key="SendEmailService" value="" />
		<add key="SmtpHost" value="localhost" />
		<!-- sendEmailFlag - use TRUE uppercase to set on -->
		<add key="sendEmailFlag" value="TRUE" />
		<add key="usingTempOverrideEmail" value="yes" />
		<!-- contact US email addresses -->
		<add key="contactUsMailTo" value="you@youremail.org" />
		<add key="contactUsMailFrom" value="finderApiDoNotReply@youremail.org" />
		<!-- Email for system and/or application related messages -->
		<add key="systemAdminEmail" value="you@youremail.org" />
		<add key="systemNotifyFromEmail" value="finderApiDevEnv@youremail.org" />
		<add key="logAllEmail" value="yes" />
		<!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
		<add key="logErrors" value="yes" />
		<add key="notifyOnException" value="no" />
		<!-- Set to the max level of tracing to display from DoTrace methods -->
		<add key="appTraceLevel" value="6" />
		<!-- Path and filename for file to store error messages-->
		<add key="path.error.log" value="C:\@logs\[date]_FinderAPI_ErrorLog.txt" />
		<add key="path.email.log" value="C:\@logs\[date]_FinderAPI_EmailLog.txt" />
		<add key="path.trace.log" value="C:\@logs\[date]_FinderAPI_TraceLog.txt" />
		<add key="path.log.file" value="D:\@logs\RegistryDownload\[date]_[filename].json" />

  </appSettings>
	<connectionStrings>
		<!-- DefaultConnection  -->
		<!--       -->
		<add name="DefaultConnection" connectionString="Server=(local);database=credFinder_github;User Id=ceGithub;password=ce$Rocks2020;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
		<add name="AccountEntities" connectionString="metadata=res://*/Accounts.Accounts.csdl|res://*/Accounts.Accounts.ssdl|res://*/Accounts.Accounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=credFinder_github;persist security info=True;user id=ceGithub;password=ce$Rocks2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<add name="MainConnection" connectionString="Server=(local);database=credFinder_github;User Id=ceGithub;password=ce$Rocks2020;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
		<add name="workIT_RO" connectionString="Server=(local);database=credFinder_github;User Id=ceGithub;password=ce$Rocks2020;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />

		<add name="workITEntities" connectionString="metadata=res://*/Tables.workIT.csdl|res://*/Tables.workIT.ssdl|res://*/Tables.workIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=credFinder_github;persist security info=True;user id=ceGithub;password=ce$Rocks2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<add name="workITViews" connectionString="metadata=res://*/Views.workITViews.csdl|res://*/Views.workITViews.ssdl|res://*/Views.workITViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=credFinder_github;persist security info=True;user id=ceGithub;password=ce$Rocks2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  	  <customErrors mode="On" defaultRedirect="~/home">
		
	  </customErrors>
  	  <httpModules>
  	  	  <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
  	  </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
