@using workIT.Models.Common;
@{
    ViewBag.Title = "Site Message";
}

@{
    var pageHeading = "Site Message";
    var pageMessage = "An unexpected condition has occurred. ";
    if ( Session[ "siteMessage" ] != null )
    {
        //should we assume message will include a title
        pageMessage = Session[ "siteMessage" ].ToString();

        Session.Remove( "siteMessage" );
    }
    else if ( Session[ "SystemMessage" ] != null )
    {
        //should we assume message will include a title
        SiteMessage msg = ( SiteMessage ) Session[ "SystemMessage" ];
        pageHeading = msg.Title;
        pageMessage = msg.Message;

        Session.Remove( "SystemMessage" );
    }


}
<h1 class="text-danger">@Html.Raw( pageHeading )</h1>
<p>@Html.Raw( pageMessage )</p>

