<div class="jumbotronXX">
	<h1>Credential Finder API</h1>
	<p class="lead">Multi-purpose API including:</p>
	<ul>
		<li>For validation and cross edits used by the Publisher Assistant API</li>
		<li>Handling search requests for the new Credential Finder</li>
	</ul>

</div>
<div class="row">

</div>
