<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<clear/>
		<add key="environment" value="production"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="serverName" value="production"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="proPathWidgetId" value="58"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="proPathWidgetName" value="propath"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="includingIllinoisLoppLWIAFilters" value="true"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="corsSiteURL" value="https://credentialfinder.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--finderAPI
			- credentialFinderMainSite" value="https://credentialfinder.org/
			- oldCredentialFinderSite- https://apps.credentialengine.org/services/
			finderApi
			- credentialFinderMainSite" https://apps.credentialengine.org/newFinder/
			- oldCredentialFinderSite- https://apps.credentialengine.org/services/
				-->
		<add key="finderApiSiteURL" value="https://apps.credentialengine.org/finderAPI/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="oldCredentialFinderSite" value="https://apps.credentialengine.org/services/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>		
		
		<!--<add key="credentialFinderMainSite" value="https://apps.credentialengine.org/newFinder/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
		<add key="credentialFinderMainSite" value="https://credentialfinder.org/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="searchDisplayingAllFilters" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--<add key="credentialFinderMainSite" value="/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
		<add key="showingNonActiveStatusLabel" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="includeManifestDetails" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="includeProcessProfileDetails" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="DisplayAdditionalInformationForManifests" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="includeVerficationServicesProfileDetails" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="searchAllowingRegionGuessing"  value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="useDatabaseForRegionGuessing"  value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialCacheMinutes" value="30"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="organizationCacheMinutes" value="30"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="displayingPublishedBy" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="competencyFrameworkUsingRegistrySearch" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		
		<add key="credentialCollection"		value="credentials" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="organizationCollection"	value="organizations" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="assessmentCollection"		value="assessments" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="learningOppCollection"	value="learningopps" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="competencyFrameworkCollection" value="competency_frameworks" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="commonCollection"			value="common_index" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="pathwayCollection"		value="pathways" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- registry -->
		<add key="defaultCommunity"				value="ce-registry" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="additionalCommunity"			value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialRegistryUrl"		value="https://credentialengineregistry.org/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="cerGetEnvelope"				value="https://credentialengineregistry.org/{0}/envelopes/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialRegistrySearch"		value="https://credentialengineregistry.org/{0}/search?" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialRegistryResource"	value="https://credentialengineregistry.org/{0}/resources/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		
		
		<add key="usingTempOverrideEmail" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="contactUsMailTo" value="mparsons@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="contactUsMailFrom" value="DoNotReply@credentialEngine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- Email for system and/or application related messages -->
		<add key="systemAdminEmail" value="mparsons@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="systemNotifyFromEmail" value="credFinderAPI@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- LOG SETTINGS ========================================================================
	Notes:
	- Be sure to give write access to the everyone role for the following log file
	-->
		<add key="logErrors" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="notifyOnException" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--<add key="isDebug" value="TRUE" />-->
		<add key="appTraceLevel" value="6"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="path.error.log" value="C:\@logs\finder\[date]_FinderAPI_ErrorLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.email.log" value="C:\@logs\finder\[date]_FinderAPI_EmailLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.trace.log" value="C:\@logs\finder\[date]_FinderAPI_TraceLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- Registry API -->
		<add key="MyCredentialEngineAPIKey" value="b13924b5-5583-4756-b176-77f707d06f57" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="AssistantCTDLJSONSearchAPIUrl" value="https://apps.credentialengine.org/assistant/search/ctdl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- production key -->
		<add key="CredentialRegistryAuthorizationToken" value="b8b3c833eea91bd338953abf33303241" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  /> 



	</appSettings>
	<connectionStrings>

		<add name="MainConnection" connectionString="Server=credEngine2;database=credFinder;User Id=ctiAdmin;password=ct!Cr*dM#ster2;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
		providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="workIT_RO" connectionString="Server=credEngine2;database=credFinder;User Id=ctiReader;password=ct!R#*der2;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

		<add name="workITEntities" connectionString="metadata=res://*/Tables.workIT.csdl|res://*/Tables.workIT.ssdl|res://*/Tables.workIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=credEngine2;initial catalog=credFinder;persist security info=True;user Id=ctiAdmin;password=ct!Cr*dM#ster2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

		<add name="workITViews" connectionString="metadata=res://*/Views.workITViews.csdl|res://*/Views.workITViews.ssdl|res://*/Views.workITViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=credEngine2;initial catalog=credFinder;persist security info=True;user Id=ctiReader;password=ct!R#*der2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
		<customErrors defaultRedirect="/" mode="RemoteOnly" xdt:Transform="Replace">
			<!--<error statusCode="500" redirect="InternalError.htm"/>-->
		</customErrors>
	</system.web>
</configuration>
