<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<clear/>
		<add key="environment" value="staging"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="serverName" value="staging"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="corsSiteURL" value="https://staging.credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="includingIllinoisLoppLWIAFilters" value="false"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="finderApiSiteURL" value="https://staging.credentialengine.org/finderAPI/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="oldCredentialFinderSite" value="https://staging.credentialengine.org/services/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialFinderMainSite" value="https://staging.credentialengine.org/Finder/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialFinderMainSiteBaseURL" value="/finder/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="includeManifestDetails" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="includeProcessProfileDetails" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="includeVerficationServicesProfileDetails" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		
		
		<add key="credentialCollection" value="credentials_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="organizationCollection" value="organizations_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="assessmentCollection" value="assessments_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="learningOppCollection" value="learningopps_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="competencyFrameworkCollection" value="competency_frameworks_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="commonCollection" value="common_index_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="pathwayCollection" value="pathways_staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- registry -->
		<add key="defaultCommunity"				value="ce-registry" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="additionalCommunity"			value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialRegistryUrl"		value="https://staging.credentialengineregistry.org/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="cerGetEnvelope"				value="https://staging.credentialengineregistry.org/{0}/envelopes/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialRegistrySearch"		value="https://staging.credentialengineregistry.org/{0}/search?" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialRegistryResource"	value="https://staging.credentialengineregistry.org/{0}/resources/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		
		<add key="usingTempOverrideEmail" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="systemNotifyFromEmail" value="credFinderAPIStaging@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- LOG SETTINGS ========================================================================
	Notes:
	- Be sure to give write access to the everyone role for the following log file
	-->
		<add key="logErrors" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="notifyOnException" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--<add key="isDebug" value="TRUE" />-->
		<add key="appTraceLevel" value="6"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="path.error.log" value="C:\@logs\staging\finder\[date]_FinderAPI_ErrorLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.email.log" value="C:\@logs\staging\finder\[date]_FinderAPI_EmailLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.trace.log" value="C:\@logs\staging\finder\[date]_FinderAPI_TraceLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- Registry API -->
		<add key="MyCredentialEngineAPIKey" value="87d65593-1282-4b08-a2f9-f50b9f254c8a" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" /> <!-- Should this be the production key instead? -->
		<add key="AssistantCTDLJSONSearchAPIUrl" value="https://staging.credentialengine.org/assistant/search/ctdl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />


	</appSettings>
	<connectionStrings>

		<add name="MainConnection" connectionString="Server=credEngine2;database=staging_credFinder;User Id=ctiAdmin;password=ct!Cr*dM#ster2;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
		providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

		<add name="workIT_RO" connectionString="Server=credEngine2;database=staging_credFinder;User Id=ctiReader;password=ct!R#*der2;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

		<add name="workITEntities" connectionString="metadata=res://*/Tables.workIT.csdl|res://*/Tables.workIT.ssdl|res://*/Tables.workIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=credEngine2;initial catalog=staging_credFinder;persist security info=True;user Id=ctiAdmin;password=ct!Cr*dM#ster2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

		<add name="workITViews" connectionString="metadata=res://*/Views.workITViews.csdl|res://*/Views.workITViews.ssdl|res://*/Views.workITViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=credEngine2;initial catalog=staging_credFinder;persist security info=True;user Id=ctiReader;password=ct!R#*der2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	</system.web>
</configuration>