<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<clear/>
		<add key="environment" value="sandbox"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="serverName" value="sandbox"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="corsSiteURL" value="https://sandbox.credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="includingIllinoisLoppLWIAFilters" value="false"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="finderApiSiteURL" value="https://sandbox.credentialengine.org/snhufinderAPI/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="oldCredentialFinderSite" value="https://sandbox.credentialengine.org/snhuOldfinder/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialFinderMainSite" value="https://sandbox.credentialengine.org/snhu/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialFinderMainSiteBaseURL" value="/snhu/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="includeManifestDetails" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="includeProcessProfileDetails" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="includeVerficationServicesProfileDetails" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


		<add key="credentialCacheMinutes" value="30"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="organizationCacheMinutes" value="30"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="competencyFrameworkUsingRegistrySearch" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		
		<add key="credentialCollection" value="credentials_snhu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="organizationCollection" value="organizations_snhu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="assessmentCollection" value="assessments_snhu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="learningOppCollection" value="learningopps_snhu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="competencyFrameworkCollection" value="competency_frameworks_snhu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="commonCollection" value="common_index_snhu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="pathwayCollection" value="pathways_snhu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<!-- registry -->
		<add key="defaultCommunity" value="snhupr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="usingAssistantForRegistryGets" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="includeRegistryPayloadWithDetails" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="additionalCommunity"			value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialRegistryUrl"		value="https://sandbox.credentialengineregistry.org/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="cerGetEnvelope"				value="https://sandbox.credentialengineregistry.org/{0}/envelopes/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialRegistrySearch"		value="https://sandbox.credentialengineregistry.org/{0}/search?" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialRegistryResource"	value="https://sandbox.credentialengineregistry.org/{0}/resources/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="CredentialRegistryAuthorizationToken" value="42c1227bf7156d896226f3a2831c2885"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>		
		<add key="MyCredentialEngineAPIKey" value="87d65593-1282-4b08-a2f9-f50b9f254c8a" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="AssistantCTDLJSONSearchAPIUrl" value="https://sandbox.credentialengine.org/assistant/search/ctdl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="usingTempOverrideEmail" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="systemNotifyFromEmail" value="credFinderAPISNHU@credentialengine.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!-- LOG SETTINGS ========================================================================
	Notes:
	- Be sure to give write access to the everyone role for the following log file
	-->
		<add key="logErrors" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="notifyOnException" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--<add key="isDebug" value="TRUE" />-->
		<add key="appTraceLevel" value="7"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="path.error.log" value="C:\@logs\sandbox\snhu\[date]_FinderAPI_ErrorLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.email.log" value="C:\@logs\sandbox\snhu\[date]_FinderAPI_EmailLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="path.trace.log" value="C:\@logs\sandbox\snhu\[date]_FinderAPI_TraceLog.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


	</appSettings>
	<connectionStrings>

		<add name="MainConnection" connectionString="Server=credEngine2;database=snhu_credFinder;User Id=ctiAdmin;password=ct!Cr*dM#ster2;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
		providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="workIT_RO" connectionString="Server=credEngine2;database=snhu_credFinder;User Id=ctiReader;password=ct!R#*der2;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

		<add name="workITEntities" connectionString="metadata=res://*/Tables.workIT.csdl|res://*/Tables.workIT.ssdl|res://*/Tables.workIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=credEngine2;initial catalog=snhu_credFinder;persist security info=True;user Id=ctiAdmin;password=ct!Cr*dM#ster2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

		<add name="workITViews" connectionString="metadata=res://*/Views.workITViews.csdl|res://*/Views.workITViews.ssdl|res://*/Views.workITViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=credEngine2;initial catalog=snhu_credFinder;persist security info=True;user Id=ctiReader;password=ct!R#*der2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	</system.web>
</configuration>