
@{
    ViewBag.Title = "Guidance";
}
@Styles.Render( "~/Content/css" )

@Html.Partial( "~/Views/Shared/_Ajax.cshtml" )



<div class="col-md-12">

    <a style="float:right; border:medium" href="~/StyleTemplate1.css" download><i class="fa fa-download"></i>Download Sample Stylesheet</a>
</div>
<header>
    <h1>Widget Guidance</h1>
</header>

<section style="margin:8px;padding:20px;">
    <div class="row">
        <div class="col-md-12">
            <h2>Search Filters</h2>
        </div>
        <div class="col-md-12">
            <h3>Organization Filters</h3>
            <ul>

                <li>Select one or more existing Organizations</li>
                <li>Searches will only show results for the selected organizations, or for artifacts owned by the organization.</li>
                
            </ul>
            <h3>Region Filters</h3>
            <ul>
                <li>Select one or more countries, or</li>
                <li>Select one country and one or more regions, or</li>
                <li>Select one country, one region, and one or more cities</li>
            </ul>

        </div>
    </div>

</section>
<section style="margin:8px;padding:20px;">
    <div class="row">
        <div class="col-md-12">
            <h2>Customize Widget Style</h2>
            <p>You can choose any one of the below following styles</p>
        </div>
        <div class="col-md-12">
            <h3>1.Custom Styles</h3>
            <ul>
                <li>Select the color from the color picker to change the background-color of the buttons. </li>
                <li>Let us consider one example, click on Search Button and choose a color from the color picker and click on save,it changes.</li>
            </ul>
            <h3>2.Upload Your File</h3>
            <ul>
                <li>Make the neccessary changes you want to change and upload the file and click on save.
                </li>
                <li>Once it was saved, you can check the preview widget.</li>
            </ul>
            <h3>3.Paste the URL</h3>
            <ul>
                <li>Here you can paste the link followed by WidgetName.</li>
                <li>http://credfinder.siuccwd.com/customStyles/example.css</li>
            </ul>
        </div>
        </div>
</section>
<section style="margin:8px;padding:20px;">
    <div class="row">
        <div class="col-md-12">
            <h2>Style Section</h2>
            <p>
                If you wish to customize the "Look and Feel" of your widget, you will start by <a  href="~/StyleTemplate1.css" download>downloading the templete stylesheet</a>.
            </p>
            <p>You would then edit the file and modify per your needs. The file contains the common styles with guidance on making changes. In some cases sections are "commented out". Placing /* at the start of a line and */ at the end of a line (or at the end of a group of lines) will result in the contents being ignored. These "commented out" sections often have style rules for hiding elements. If you prefer to have the elements hidden, just remove the comment delimiters.</p>
        </div>
        <div class="col-md-12">
            <h3> Customize Logo</h3>
        </div>
        <ul>
            <li>
                A good practise is not to include the protocol so works properly with both secure and non-secure sites.<br />
                For example "//example.com/mylogo.png"

            </li>
            <li>
                Use the below format to change the logo.<br />
                <strong>#mainSiteLogo { background-image: url('//example.com/mylogo.png')}</strong>
            </li>
            <li>To change the logo image go to the downloaded template and search for <mark>#mainSiteLogo</mark> </li>
        </ul>
    </div>

    <div class="row">
        <section>
            <div class="col-md-12">
                <h3>Update Main Styles</h3>
            </div>
            <div class="col-md-12">
                <h3>Main Site Header</h3>

                <ul>

                    <li>To change the background-color of the banner,chnage the color to "example color" </li>
                    <li>For Example: <strong>#mainSiteHeader{ background-color: aquamarine; }</strong></li>
                    <li>To do above changes search for <mark>mainSiteHeader</mark></li>
                </ul>
                <h3> Search Button</h3>
                <ul>

                    <li>To change the button background-color,just type in the color which you would like to be represted </li>
                    <li>To edit the text color, type the color code as u expected it to be.</li>
                    <li>
                        For Example :<strong>.searchButton { background-color: #0F3E63; color: #FFFFFF; }</strong>
                    </li>
                    <li>To do above changes search for <mark>searchButton</mark></li>
                </ul>
                <h3>Filter Button</h3>
                <ul>

                    <li>To change the button backgroung-color,just type in the color which you would like to be represted</li>
                    <li>To edit the text color, type the color code as u expected it to be.</li>
                    <li>For Example:<strong>.filterButton { background-color: #3b7741; color: #FFFFFF; }</strong></li>
                    <li>To do above changes search for <mark>filterButton</mark></li>
                </ul>
                <h3> Reset Button</h3>
                <ul>

                    <li>To change the button backgroung-color,just type in the color which you would like to be represted</li>
                    <li>To edit the text color, type the color code as u expected it to be.</li>
                    <li>For Example: <strong>.resetButton { background-color: #B55130; color: #FFFFFF; }</strong> </li>
                    <li>To do above changes search for <mark>resetButton</mark></li>
                </ul>
            </div>
        </section>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Updates For Filters</h3>
        </div>
        <div class="col-md-12">
            <p> Filters for Credential,Assessment,LearningOpp and Organization.</p>

            <h3>Credential Filter</h3>
            <ul>

                <li>To hide the filters in the credential filter,follow the below steps</li>
                <li>You can type in <mark>display:none</mark>in the credential type to hide the filter type.</li>
                <li>For Example:<strong>#searchMainFilters #filtersList button.whiteGhost.credential.audienceleveltypes { display: none; }</strong></li>
                <li>Similarly, you can change the other filter types in the credential filter</li>
            </ul>
            <h3>Assessment Filter</h3>
            <ul>

                <li>To hide the filters in the assessment filter,follow the below steps</li>
                <li>You can type in <mark>display:none</mark>in the Assessment type to hide the filter type.</li>
                <li>For Example:<strong>#searchMainFilters #filtersList button.whiteGhost.assessment.subjects { display: none; }</strong></li>
                <li>Similarly, you can change the other filter types in the Assessment filter</li>
            </ul>
            <h3>Learning Opportunity Filter</h3>
            <ul>

                <li>To hide the filters in the learning filter,follow the below steps</li>
                <li>You can type in <mark>display:none</mark>in the learning type to hide the filter type.</li>
                <li>For Example:<strong>#searchMainFilters #filtersList button.whiteGhost.learningopportunity.subjects { display: none; }</strong></li>
                <li>Similarly, you can change the other filter types in the learning filter</li>
            </ul>
            <h3>Organization Filter</h3>
            <ul>

                <li>To hide the filters in the organization filter,follow the below steps</li>
                <li>You can type in <mark>display:none</mark>in the organization type to hide the filter type.</li>
                <li>For Example:<strong>#searchMainFilters #filtersList button.whiteGhost.organization.industries { display: none; }</strong></li>
                <li>Similarly, you can change the other filter types in the organization filter</li>
            </ul>
            <h3>Filter Button</h3>
            <ul>

                <li>To hide the filter button</li>
                <li>You can type in <mark>display:none</mark>in the Id type.</li>
                <li>For Example:<strong>#btnToggleFilters {display:none;}</strong></li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3> Hiding Description</h3>

            <h3>Hide/Show Description</h3>
            <ul>

                <li>To set up the color of the button, follow the below instructions.</li>
                <li>search for <mark>contentToggleButton</mark> </li>
                <li>
                    For Example:
                    <strong>.contentToggleButton{ color: #3D4443; }</strong>
                </li>

            </ul>
            <h3> Hiding Gray Boxes</h3>
            To hide gray boxes:
            <ul>

                <li>To hide the gray button, type <mark>display:none, in the class section.</mark></li>
                <li>
                    For Example:
                    <strong>.contentToggleButton {display:none;}</strong>
                </li>
            </ul>
            <h3> Update List and Map Styles</h3>
            <h4>List & Map Buttons</h4>
            <ul>

                <li>To change the backgroung-color and color of the both the list and map buttons, follow the steps below:</li>
                <li>Check for <mark>viewButton</mark></li>
                <li>For Example:<strong>.viewButton { background-color: #FFFFFF; color: #000000; }</strong></li>
            </ul>
        </div>

    </div>
</section>






