@model string
@{ var displayMode = string.IsNullOrWhiteSpace(Model) ? "bottom" : Model; }
@Html.Partial( "~/Views/V2/Compare/_CompareCore.cshtml" )
<script type="text/javascript">
    compare.bar = {};

    $(document).ready(function() {
        compare.listen(compare.onUpdate, compare.bar.updateTotals);
        compare.listen(compare.onUpdate, compare.bar.renderItemLists);
        compare.listen(compare.onUpdate, compare.bar.flashBar);

    	//Prevent long-session issues and refresh automagically
        $(window).on("focus", function () {
        	compare.getItems();
        })

    });

    //Toggle the bar
    compare.bar.toggleBar = function() {
        var bar = $("#compareBar");
        bar.attr("data-status", bar.attr("data-status") == "compact" ? "expanded" : "compact");
    }
    //

    //Update totals
    compare.bar.updateTotals = function() {
        var bar = $("#compareBar");
        for(var i in compare.items){
            try {
                bar.find(".compareCompactItem[data-type=" + i + "] .total, .compareTabButton[data-type=" + i + "] .total").html(compare.items[i].length);
            }
            catch(e) { }
        }
    }
    //

    //Render items
    compare.bar.renderItemLists = function() {
        for(var i in compare.items){
            compare.bar.renderItemList($(".compareItems[data-type=" + i + "]"), compare.items[i]);
        }
    }
    //

    //Render a list
    compare.bar.renderItemList = function(list, data) {
        var template = $("#template_compareTemplate").html();
        list.html("");
        for(var i in data){
            list.append(template
                .replace(/{Title}/g, data[i].Title)
                .replace(/{Id}/g, data[i].Id)
                .replace(/{Type}/g, data[i].Type)
            );
        }
    }
    //

    //Grab attention
    compare.bar.flashBar = function() {
        $("#compareBar .compareCompactItem[data-type]").addClass("highlighted");
        setTimeout(function() { 
            $("#compareBar .compareCompactItem").removeClass("highlighted");
        }, 500);
    }
    //

    //Select a list
    compare.bar.selectList = function(buttonRaw){
        var button = $(buttonRaw);
        var type = button.attr("data-type");
        $("#compareBarExpanded .compareList .compareTabButton, #compareBarExpanded .compareList").removeClass("selected").filter("[data-type=" + type +"]").addClass("selected");
    }
    //

    //Go to compare page if something is selected
    compare.bar.compareSelected = function() {
        for(var i in compare.items){
            if(compare.items[i].length >= 2){
                window.open('@Url.Content( "~/Compare/V2" )', '_blank');
                return;
            }
        }

        modal.alert("Not Enough Selections", "You must select at least two items of the same type to compare!");
    }
	//

	//Clear a list
	compare.bar.clearList = function (listName) {
		$(".compareList[data-type=" + listName + "] .compareItem").each(function () {
			var item = $(this);
			compare.removeItem(item.attr("data-id"), item.attr("data-type"));
		});
	}

	//Clear all
	compare.bar.clearAll = function () {
		$(".compareItem").each(function () {
			var item = $(this);
			compare.removeItem(item.attr("data-id"), item.attr("data-type"));
		});
	}
</script>
<style type="text/css">
    #compareBar { position: fixed; background-color: #65C0A5; color: #FFF; z-index: 100; padding: 2px; }
    #compareBar #compareBarExpanded .compareList { padding: 5px; }
    #compareBar #compareBarExpanded .compareListTitle { font-weight: bold; text-align: center; padding: 5px; background-color: #3D4443; position: relative; padding-right: 30px; }
	#compareBar #compareBarExpanded .compareListTitle button { position: absolute; top: 5px; right: 2px; width: 20px; height: 20px; font-size: 14px; }
	#compareBar #compareBarExpanded .compareListTitle button:hover, #compareBar #compareBarExpanded .compareListTitle button:focus { background-color: #B55130; }
    #compareBar #compareBarExpanded .compareItems { background-color: #222; background-image: linear-gradient(#222, #555); padding: 5px; height: 200px; overflow-y: auto; }
    #compareBar .compareCompactItem.highlighted { background-color: #FEBC20; }
    #compareBar .compareTotal { text-align: center; color: #FFF; }
    #compareBar .compareCompactItem .total { font-size: inherit; }
    #compareBar .compareTabNav { display: none; }
    #compareBar .compareTabButton { display: block; width: 100%; padding: 5px; margin-bottom: 2px; }
    
    /* Bottom of the window mode */
    #compareBar.bottom { bottom: 0; left: 0; right: 0; }
    #compareBar.bottom[data-status=compact] { height: 40px; }
    #compareBar.bottom #compareBarCompact { font-size: 0; display: -webkit-flex; display: flex; }
	#compareBar.bottom #compareBarCompact .compareSection { width: 50%; height: 40px; display: -webkit-flex; display: flex; }
    #compareBar.bottom #compareBarCompact .compareCompactItem { padding: 8px 5px; margin-left: 2px; }
	#compareBar.bottom #compareBarCompact .compareTotal { padding: 10px 5px; }
	#compareBar.bottom #compareBarCompact button { padding: 8px 5px; height: 36px; }
    #compareBar.bottom #compareBarExpanded { font-size: 0; }
    #compareBar.bottom #compareBarExpanded .compareList { width: 25%; }
    #compareBar.bottom #compareTotals, #compareBar.bottom #compareButtons { width: 50%; }
    #compareBar.bottom #compareTotals .column { width: 25%; }
    #compareBar.bottom #compareButtons .column { width: 45%; }
	#compareBar.bottom #compareButtons #compareClearAll { width: 10%; }
	#compareBar.bottom #compareButtons #compareClearAll:hover, #compareBar.bottom #compareButtons #compareClearAll:focus { background-color: #B55130; } 

    /* Side of the window mode */
    #compareBar.side { top: 0; right: 0; bottom: 0; }
    #compareBar.side[data-status=compact] { width: 30px; }

    /* List Items */
    .compareItem { background-color: #F2F4F4; padding: 5px 40px 5px 5px; position: relative; min-height: 35px; margin-bottom: 5px; color: #000; }
    .compareItem .closeButton { position: absolute; top: 5px; right: 5px; width: 25px; height: 25px; }
	.compareItem .closeButton:hover, .compareItem .closeButton:focus { background-color: #B55130; }

    @@media (max-width: 1550px){
        #compareBar.bottom #compareBarCompact { min-height: 70px; }
        #compareBar.bottom[data-status=compact] { height: 70px; }
		#compareBar.bottom #compareTotals { -webkit-flex-wrap: wrap; flex-wrap: wrap; }
        #compareBar.bottom #compareTotals .column { width: 50%; height: 35px; padding: 5px; margin: 0; }
        #compareBar.bottom #compareButtons .column { height: 66px; }
    }
    @@media (max-width: 900px) {
        #compareBar.bottom #compareBarExpanded .compareList { width: 50%; }
        #compareBar.bottom #compareBarExpanded .compareList:not(.selected):not(.compareTabNav) { display: none; }
        #compareBar.bottom #compareBarExpanded .compareList.compareTabNav { display: inline-block; }
        #compareBar.bottom #compareBarExpanded .compareItems { height: 100px; }
    }
	@@media (max-width: 800px) {
		#compareBar.bottom * { font-size: 12px; }
		#compareBar.bottom #compareBarCompact { -webkit-flex-wrap: wrap; flex-wrap: wrap; }
        #compareBar.bottom #compareBarCompact .compareSection { width: 100%; height: 35px; }
        #compareBar.bottom #compareTotals .column { width: 25%; }
        #compareBar.bottom #compareButtons .column { height: 35px; }
		#compareBar.bottom #compareBarCompact #compareButtons button { height: 32px; }
    }
    @@media (max-width: 425px) {
        #compareBar.bottom *:not(.inlineBlockBox) { font-size: 10px; }
    }
</style>

<div id="compareBar" class="@displayMode" data-status="compact">
    <div id="compareBarCompact">
        <div id="compareTotals" class="compareSection">
            <div class="compareCompactItem compareTotal column" data-type="credential"><span class="total">0</span> Credentials</div>
            <div class="compareCompactItem compareTotal column" data-type="organization"><span class="total">0</span> Organizations</div>
            <div class="compareCompactItem compareTotal column" data-type="assessment"><span class="total">0</span> Assessments</div>
            <div class="compareCompactItem compareTotal column" data-type="learningopportunity"><span class="total">0</span> Learning Opportunities</div>
        </div>
        <div id="compareButtons" class="compareSection">
            <button class="greenButton compareCompactItem column" id="compareToggle" onclick="compare.bar.toggleBar();"><i class="fa fa-copy"></i> Toggle Details</button>
            <button class="greenButton compareCompactItem column" onclick="compare.bar.compareSelected();">Compare Selected <i class="fa fa-arrow-circle-right"></i></button>
            <button class="greenButton compareCompactItem column" id="compareClearAll" onclick="compare.bar.clearAll();" title="Clear All"><i class="fa fa-trash"></i></button>
        </div>
    </div>
    <div id="compareBarExpanded" class="inlineBlockBox">
        <div class="compareList column compareTabNav">
            <button class="compareTabButton blackButton selected" data-type="credential" onclick="compare.bar.selectList(this);"><span class="total">0</span> Credentials</button>
            <button class="compareTabButton blackButton" data-type="organization" onclick="compare.bar.selectList(this);"><span class="total">0</span> Organizations</button>
            <button class="compareTabButton blackButton" data-type="assessment" onclick="compare.bar.selectList(this);"><span class="total">0</span> Assessments</button>
            <button class="compareTabButton blackButton" data-type="learningopportunity" onclick="compare.bar.selectList(this);"><span class="total">0</span> Learning Opportunities</button>
        </div>
        <div class="compareList column selected" data-type="credential">
            <div class="compareListTitle">Credentials <button class="closeButton fa fa-trash" title="Clear List" onclick="compare.bar.clearList('credential');"></button></div>
            <div class="compareItems" data-type="credential"></div>
        </div>
        <div class="compareList column" data-type="organization">
            <div class="compareListTitle">Organizations <button class="closeButton fa fa-trash" title="Clear List" onclick="compare.bar.clearList('organization');"></button></div>
            <div class="compareItems" data-type="organization"></div>
        </div>
        <div class="compareList column" data-type="assessment">
            <div class="compareListTitle">Assessments <button class="closeButton fa fa-trash" title="Clear List" onclick="compare.bar.clearList('assessment');"></button></div>
            <div class="compareItems" data-type="assessment"></div>
        </div>
        <div class="compareList column" data-type="learningopportunity">
            <div class="compareListTitle">Learning Opportunities <button class="closeButton fa fa-trash" title="Clear List" onclick="compare.bar.clearList('learningopportunity');"></button></div>
            <div class="compareItems" data-type="learningopportunity"></div>
        </div>
    </div>
</div>
<div id="compareTemplates">
    <script type="text/template" id="template_compareTemplate">
        <div class="compareItem" data-id="{Id}" data-type="{Type}">
            <div class="compareItemTitle"><a href="@Url.Content("~/detail/"){Type}/{Id}">{Title}</a></div>
            <button class="closeButton fa fa-close" title="Remove" onclick="compare.removeItem({Id}, '{Type}');"></button>
        </div>
    </script>
</div>