<?xml version="1.0"?>
<configuration>
	<!-- Account-sensitive items - remove these before distributing code -->
	<!-- Use Project > Add Item > Add as Link to reference this file (from the API project) in other projects without duplicating it. That will ensure the "real" version of the file gets published. To make it work in development, copy the file to the project directory in windows explorer. -->
	<appSettings>
		<add key="GeoNamesUserName" value="   TBD       " />
		<add key="GoogleMapsApiKey" value="   TBD       " />
		<add key="GoogleGeocodingServerApiKey" value="   TBD       " />
		<add key="CassPrivateKey" value="-----BEGIN RSA PRIVATE KEY-----
TBD
-----END RSA PRIVATE KEY-----"/>
		<add key="CassPublicKey" value="-----BEGIN PUBLIC KEY-----
TBD
-----END PUBLIC KEY-----"/>


    <add key="SendGridApiKey" value="" />  
    
  </appSettings>

</configuration>
