<?xml version="1.0"?>
<configuration>
	<!-- Account-sensitive items - remove these before distributing code -->
	<!-- Use Project > Add Item > Add as Link to reference this file (from the API project) in other projects without duplicating it. That will ensure the "real" version of the file gets published. To make it work in development, copy the file to the project directory in windows explorer. -->
	<appSettings>
		<add key="GeoNamesUserName" value="CTITechPlanning" />
		<add key="GoogleMapsApiKey" value="AIzaSyBMe2_5ATK3bVQGIeLvVMAfkdlwfHE4h4o" />
		<add key="GoogleGeocodingServerApiKey" value="AIzaSyDviUB20Yxr7x5deEkeetq4kxpTD_BiBEY" />
		<add key="CassPrivateKey" value="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAs8WRwTdwraI5r5Gs8tBniEHTHDb7LbY7ASXXPrDEy3JJg7iL
S9LjjC80G6zsrXu9bGPOaUlwT3/PbJzwWa3zVjkcIiPSKM7VGtNHJGW/jbRp3NCp
nCvwzwmxxpKgNUGl39WNzXrBNa1kKUicFwsfnd+k7bSFyoAVTPdUQG3ruROHfAVX
/uEIOcPysRx8kPU/rJV4fJzdwTyNbIfRmlzj9bOE2ixUTRtALkGkm8uecPJHTDd4
0YR1JA9tr/DJ/3AjKyJea0jY94BrTb0iXXk7vBc8jwXdiPKKfs5zre8PFrknW0nY
aGyMkfDDuXOQqsDN4kxiwk0IW3Me2DXrnTxtwwIDAQABAoIBAQCW23CYx8FStBPc
dU7A5Io9GZ/iyXC2x3l0WSDrhsNeRqXSV4btNield+cuYkqqunAXCRop2GrbC9Iw
vvIjD4poDLzDGXQ+snK6dBn7PTcl3wQHPUNXvrfxxZzdmiW/Czv7PeYlTKHePYcT
7c6ut7LsdMSehSLQ7/LwB404FAX/5C9aO6lPkUh8X4oUt8TGL+9sjfz2PFyYJ596
4Um5OsE4BhOtDiua36DyR8/ziLSPeaYOgdFelOF6aNCS5j+dWE7lFQZZ0r8kb+aq
9BBsSqCyOcJRACmq/9aJFA5xmSUZwfrH4WV9/rboaK4cCnJMR2asSYtmoyBbyPqD
E9gr9FRhAoGBANyB6kOB+kP5uEYYYkCBi6AKRBt9Gigm94gV+IRah2huUA0e2XPm
vaxweTE0j1I2N9qtqOyKoNIK/m7iYcdWSbHnUR4KNK7boSqaIQNb/7XSqBG18Trt
4Elepa9Q6kY/ec0M0zdOrENNc4EbB8nhDMUjbnfxVNSvD/vFuu4+gwW3AoGBANC1
H/9qBxvF3TUAiplQ/L9ljkK+VgcnXhDaGmyTBhY1ABi9KJHlIYLmgBp/fmWNFzxN
CoR0cNQp6Al97akQv+dOaYsWDjhpmC+mxK1oBFO/MZcNRzsMO9ymfLTFZtdQNEpN
vIVJLJK+itJ4UqXbGsgZmU5DK4Wffw48ljvNYLhVAoGAPD5eM11ic4nZN4VX6om6
DNphKyVtrQSgYhSmlfppvjVNN5hzDoA+18rOwYu7kFlxvxPs79sb/ua0BrVgw2Ym
si0hc1SUeiVVDd+YH2PWI+XOty//HPt6aHEsUQ6JQvH6o/PaDOU4mRai9OXepeAP
bhi1CJ3tcEH32vB1lruLblcCgYEAuh6MJm4bYL0XA8kz0H3Up6qdLxAmD8Mfs8+M
eP60EuG48Fbf8xtuwxljbD3+LfmgmvnpQy3D4LBuaOiQJJD3UgMvRAWrMMuaGASU
qD92fGiohJgmyZWjXKZr15mimKjBuPGSCRq0UTjy+7apnZbDT2bkvFJSYZtW5w9I
upPwiPECgYAFlGCCFPIfWPNTaqK/Y7Lmj9crbnhB8RZ/FLYAuavXr7MDKHmxYgEE
ZdU8wGnMPqkjCLRQPjyBBu2S0ydeTIDygRbLGYZAKYVKYBsJ0nKOePgKuKF5WECa
i5bMqY8KZhuhPQwhI6aXf56eKZfCHOrn8vd3ZF7tRjlWHW0SXZn/yQ==
-----END RSA PRIVATE KEY-----"/>
		<add key="CassPublicKey" value="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs8WRwTdwraI5r5Gs8tBn
iEHTHDb7LbY7ASXXPrDEy3JJg7iLS9LjjC80G6zsrXu9bGPOaUlwT3/PbJzwWa3z
VjkcIiPSKM7VGtNHJGW/jbRp3NCpnCvwzwmxxpKgNUGl39WNzXrBNa1kKUicFwsf
nd+k7bSFyoAVTPdUQG3ruROHfAVX/uEIOcPysRx8kPU/rJV4fJzdwTyNbIfRmlzj
9bOE2ixUTRtALkGkm8uecPJHTDd40YR1JA9tr/DJ/3AjKyJea0jY94BrTb0iXXk7
vBc8jwXdiPKKfs5zre8PFrknW0nYaGyMkfDDuXOQqsDN4kxiwk0IW3Me2DXrnTxt
wwIDAQAB
-----END PUBLIC KEY-----"/>


    <add key="SendGridApiKey" value="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" />  
    
  </appSettings>

</configuration>
