<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="5000" />
    <!-- elasticsearch ========================================= -->
    <add key="elasticSearchUrl" value="http://192.168.1.145:9200/" />
    <!--<add key="elasticSearchUrl" value="http://52.176.156.172:9200/" />-->
    <!--<add key="elasticSearchUrl" value="http://localhost:9200/" />-->
    <!-- elastic search collection. This is an alias. The ES interface is to be used to associate the appropriate collection with this alias-
      - set empty to skip the load
    -->

    <!--   
        <add key="credentialCollection" value="credentials" />
    <add key="organizationCollection" value="organizations" />
    <add key="assessmentCollection" value="assessments" />
    <add key="learningOppCollection" value="learningopps" />
    -->
    <add key="credentialCollection" value="credentials" />
    <add key="organizationCollection" value="organizations" />
    <add key="assessmentCollection" value="assessments" />
    <add key="learningOppCollection" value="learningopps" />

 <!-- 
    <add key="credentialCollection" value="credentials_sandbox" />
    <add key="organizationCollection" value="organizations_sandbox" />
    <add key="assessmentCollection" value="assessments_sandbox" />
    <add key="learningOppCollection" value="learningopps_sandbox" />
     -->
    <!--   
    
    <add key="credentialCollection" value="credentials_prodcopy" />
    <add key="organizationCollection" value="organizations_prodcopy" />
    <add key="assessmentCollection" value="assessments_prodcopy" />
    <add key="learningOppCollection" value="learningopps_prodcopy" />
 -->

    <!-- 0-none; 1- Use Index; 2-use Bulk-->
    <add key="updateCredIndexAction" value="2" />
    
    <!-- not sure if we need this-->
    <add key="includeHasPartIsPartWithConnections" value="true" />
    
    <!-- ACCOUNT/CONTACT US NOTIFICATION ====================================================== -->
    <!-- notifyOnEmailNotFound: if true, user will be notified where email not found during forgot password process -->
    <add key="notifyOnEmailNotFound" value="true" />
    <!-- EmailService: smtp, serviceApi, sendGrid -->
    <add key="emailService" value="serviceApi" />
    <!-- use web service, and ignore others TEMP UNTIL OUR OWN IS SET UP-->
    <add key="SendEmailService" value="http://apps.il-work-net.com/Services/api/Email/Send/" />
    <add key="SmtpHost" value="localhost" />
    <!-- sendEmailFlag - use TRUE uppercase to set on -->
    <add key="sendEmailFlag" value="TRUE" />
    <add key="usingTempOverrideEmail" value="yes" />
    <!-- contact US email addresses -->
    <add key="contactUsMailTo" value="contactUs@test.com" />
    <add key="contactUsMailFrom" value="DoNotReply@test.com" />
    <!--<add key="contactUsMailFrom" value="DoNotReply@credentialEngine.org" />-->
    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="contactUs@test.com" />
    <add key="systemNotifyFromEmail" value="DoNotReply@test.com" />
    <!--<add key="systemNotifyFromEmail" value="DoNotReply@credentialEngine.org" />-->
    <add key="logAllEmail" value="yes" />
    <!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
    <add key="logErrors" value="yes" />
    <add key="notifyOnException" value="no" />
    <add key="appTraceLevel" value="8" />
    <add key="path.error.log" value="C:\@logs\[date]_ElasticBuild_ErrorLog.txt" />
    <add key="path.email.log" value="C:\@logs\[date]_ElasticBuild_EmailLog.txt" />
    <add key="path.trace.log" value="C:\@logs\[date]_ElasticBuild_TraceLog.txt" />
    <add key="path.log.file" value="C:\@logs\RegistryDownload\[date]_[filename].json" />
  </appSettings>
  <connectionStrings>

   <add name="MainConnection" connectionString="Server=192.168.1.145;database=credFinder;User Id=ctiAdmin;password=ChangeMe;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="workIT_RO" connectionString="Server=192.168.1.145;database=credFinder;User Id=ctiReader;password=ChangeMe;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="workITEntities" connectionString="metadata=res://*/Tables.workIT.csdl|res://*/Tables.workIT.ssdl|res://*/Tables.workIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=credFinder;persist security info=True;user id=ctiAdmin;password=ChangeMe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="workITViews" connectionString="metadata=res://*/Views.workITViews.csdl|res://*/Views.workITViews.ssdl|res://*/Views.workITViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=credFinder;persist security info=True;user id=ctiAdmin;password=ChangeMe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--     
    <add name="MainConnection" connectionString="Server=192.168.1.145;database=credFinderSandbox;User Id=ctiAdmin;password=ChangeMe;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="workIT_RO" connectionString="Server=192.168.1.145;database=credFinderSandbox;User Id=ctiReader;password=ChangeMe;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="workITEntities" connectionString="metadata=res://*/Tables.workIT.csdl|res://*/Tables.workIT.ssdl|res://*/Tables.workIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=credFinderSandbox;persist security info=True;user id=ctiAdmin;password=ChangeMe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="workITViews" connectionString="metadata=res://*/Views.workITViews.csdl|res://*/Views.workITViews.ssdl|res://*/Views.workITViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=credFinderSandbox;persist security info=True;user id=ctiAdmin;password=ChangeMe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 -->
    <!--  
    <add name="MainConnection" connectionString="Server=192.168.1.145;database=credFinder_ProdSync;User Id=ctiAdmin;password=ChangeMe;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="workIT_RO" connectionString="Server=192.168.1.145;database=credFinder_ProdSync;User Id=ctiReader;password=ChangeMe;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="workITEntities" connectionString="metadata=res://*/Tables.workIT.csdl|res://*/Tables.workIT.ssdl|res://*/Tables.workIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=credFinder_ProdSync;persist security info=True;user id=ctiAdmin;password=ChangeMe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="workITViews" connectionString="metadata=res://*/Views.workITViews.csdl|res://*/Views.workITViews.ssdl|res://*/Views.workITViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=credFinder_ProdSync;persist security info=True;user id=ctiAdmin;password=ChangeMe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

-->

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>