
@{
	ViewBag.Title = "Configure";
}

@Html.Partial( "~/views/shared/_microsearch.cshtml" )
<script type="text/javascript">
	$(document).ready(function () {
		setupConfiguration();
		setupMicrosearches();
	});

	function setupConfiguration() {
		$("[data-action=configure]").on("click", function () {
			getConfiguration();
		});
	}
	//

	function getConfiguration() {
		var data = readConfig();
		var url = "@Request.Url.GetLeftPart( UriPartial.Authority )@Url.Content( "~/widget/apply?" )";
		for (var i in data) {
			if (data[i]) {
				url += i + "=" + data[i] + "&";
			}
		}
		$("#configuredURL").val(url);
	}
	//

	function readConfig() {
		var result = {};
		$("[data-property]").each(function () {
			var item = $(this);
			var property = item.attr("data-property");
			var type = item.attr("data-type");
			switch (type) {
				case "text": result[property] = item.val().trim().toLowerCase(); break;
				case "url": result[property] = encodeURIComponent(item.val().trim().toLowerCase()); break;
				case "boolean": result[property] = item.prop("checked"); break;
				default: break;
			}
		});
		return result;
	}
	//

</script>
<script type="text/javascript">
	function setupMicrosearches() {
		var organizationSearch = microsearch.initialize($("[data-searchname=organization]"), "organization", 5);
		organizationSearch.Box.find(".searchFilter [data-type=text]").on("keyup change", function () {
			doSearch(organizationSearch, "SearchOrganizations", success_doOrganizationSearch, $("#template_searchresult_organization").html(), "organization");
		});
	}
	//

	function success_doOrganizationSearch(Search, message, pagingFunction, passThrough) {
		if (message.valid) {
			//TODO: populate results in a way that enables them to be selected

		}
		else {
			microsearch.setStatus(Search.StatusBox, "Error:" + message.status, "error");
		}
	}
	//
</script>
<style type="text/css">
	.formItem { margin-bottom: 10px; padding: 0 10px; background-color: #FAFAFA; padding: 5px; }
	.help { font-style: italic; font-size: 14px; padding: 5px; }
	.checkboxList label { display: block; padding: 5px; }
	.checkboxList label:hover, .checkboxList label:focus { cursor: pointer; background-color: rgba(0,0,0,0.1); }
	input[type=text], select { width: 100%; }
	#configure { display: block; width: 100%; padding: 5px; margin-top: 5px; }
	.microsearch { display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; }
	.microsearch .column { -webkit-flex: 100% 1 1; flex: 100% 1 1; max-width: calc(50% - 10px); }
</style>

<h1>Configure Widget</h1>

<ol>
	<li>Configure options as desired</li>
	<li>Click the "Get Configuration" Button at the bottom of the page</li>
	<li>Access the site with the provided URL to use the configuration.</li>
</ol>

@*
	<h2>Sitewide</h2>

	<div class="formItem">
		<h3>Logo</h3>
		<div class="help">Provide a custom Logo URL. For best results, use a transparent png with a roughly square shape and a resolution of approximately 500x500 pixels.</div>
		<input type="text" data-property="logo" data-type="url" placeholder="http://" />
	</div>
*@
<h2>Search</h2>

<div class="formItem">
	<h3>Automatic Filtering</h3>
	<div class="help">Limit search to just these organizations, as well as only credentials, assessments, and learning opportunities that are owned, offered, approved, or regulated by these organizations:</div>
	<div class="microsearch" data-searchname="organization">
		<div class="column search">
			<h4>Find Organizations:</h4>
			<div class="searchHeader">
				<div class="searchFilter">
					<div class="label">Name</div>
					<div class="value">
						<input type="text" data-filter="keywords" data-type="text" />
					</div>
				</div>
			</div>
			<div class="searchStatus"></div>
			<div class="searchResults"></div>
			<div class="searchPaging"></div>
		</div>
		<div class="column selectedItems">
			<h4>Selected Organizations:</h4>
			<div class="searchSelection"></div>
		</div>
	</div>
</div>

<div class="formItem">
	<h3>Search Results</h3>
	<div class="help">Configure options:</div>
	<div class="checkboxList">
		<label><input type="checkbox" data-property="search_hideDescriptions" data-type="boolean" /> Hide Descriptions</label>
		<label><input type="checkbox" data-property="search_hideGrayButtons" data-type="boolean" /> Hide Gray Buttons</label>
	</div>
</div>

<div class="formItem">
	<h3>Configured URL</h3>
	<div class="help">Use this URL to access the site using your configured options:</div>
	<input type="text" readonly="readonly" id="configuredURL" onclick="this.select()" />
	<button id="configure" class="greenButton" data-action="configure">Get Configuration</button>
</div>

<div id="templates" style="display:none;">
	<script type="text/template" id="template_org_searchresult">
		<div class="searchResult organization">
			<div class="data">
				<div class="name">{Name}</div>
				<div class="description">{Description}</div>
			</div>
			<div class="buttons">
				<button data-action="addOrganization">Add</button>
			</div>
		</div>
	</script>
	<script type="text/template" id="template_org_selected">
		<div class="searchResult organization">
			<div class="data">
				<div class="name">{Name}</div>
				<div class="description">{Description}</div>
			</div>
			<div class="buttons">
				<button data-action="removeOrganization">Remove</button>
			</div>
		</div>
	</script>
</div>