@using Newtonsoft.Json;
@{
	ViewBag.Title = "ImportComparer";

	var sourceCTIDs = new List<string>();
	var requestedCTID = Request.Params[ "ctid" ];

	if ( !string.IsNullOrWhiteSpace( requestedCTID ) )
	{
		sourceCTIDs.Add( requestedCTID );
	}
	else if( Request.Params["getAllCTIDs"] == "true" )
	{
		//Method to get all CTIDs
		//Return as List<string>

		Response.Clear();
		Response.ContentType = "application/json";
		Response.Write( "[]" );
		Response.End();
		return;
	}
	else
	{
		var sourceCTIDsRaw = workIT.Web.Controllers.DetailController.MakeHttpGet( "http://credentialfinder.org/Detail/ImportComparer?getAllCTIDs=true" );
		sourceCTIDs = JsonConvert.DeserializeObject<List<string>>( sourceCTIDsRaw );
	}
	
}

<script type="text/javascript">
	$(document).ready(function () {
		setupComparers();
	});

	function setupComparers() {
		var comparers = $(".comparer").not(".comparerInitialized").each(function () {
			var comparer = $(this);

			//Do a pair of delayed AJAX calls to the page to get the source and imported data for that CTID
			//On success, compare the data and render the result
			//On error, show error

			comparer.addClass("comparerInitialized");
		});
	}
</script>


<h1>Import Comparer</h1>

@foreach ( var item in sourceCTIDs )
{
	//
	//Wait wait wait you don't need the ID at all, just a list of CTIDs and then you get the data by that
	//
	<div class="comparer" data-CTID="@item">@item</div>
}