<?xml version="1.0"?>
<configuration>
	<!-- Account-sensitive items - remove these before distributing code -->
	<!-- Use Project > Add Item > Add as Link to reference this file (from the API project) in other projects without duplicating it. That will ensure the "real" version of the file gets published. To make it work in development, copy the file to the project directory in windows explorer. -->
	<appSettings>
		<add key="GeoNamesUserName" value="##AddCustomUserName for GeoNames##" />
		<add key="GoogleMapsApiKey" value="##Add your GoogleMapsApiKey##" />
		<add key="GoogleGeocodingServerApiKey" value="##GoogleGeocodingServerApiKey##" />

  </appSettings>

</configuration>
