<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
	<!-- env, version configurations-->
	<add key="envType" value="test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="serverName" value="test"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--  -->
    <add key="accountsRegister" value="https://sandbox.credentialengine.org/publisheraccounts/account/register"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="accountsLogin" value="https://sandbox.credentialengine.org/publisheraccounts/account/login"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="accountsDashboard" value="https://sandbox.credentialengine.org/publisheraccounts/dashboard"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="accountsAuthorizeApi" value="https://sandbox.credentialengine.org/publisheraccounts/Api/Authorize"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CEAccountOrganizationsForUserApi" value="https://sandbox.credentialengine.org/publisheraccounts/Api/GetOrganizationsForUser"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="finderClientToken" value="1d6f846b-905f-48b1-ade6-dbb3e0a397aa"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="finderSecretToken" value="a26257ac-120c-4392-b8f3-6bf62a0ce7b6"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="widgetUploadPath" value="c://CredentialRegistry//credfinder//widgetUploads//" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="widgetResourceUrl" value="http://credfinder.siuccwd.com/wcontent/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="elasticSearchUrl" value="http://(local):9206/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="credentialCollection" value="credentials" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="organizationCollection" value="organizations" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="assessmentCollection" value="assessments" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="learningOppCollection" value="learningopps" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
	<!-- Credential registry ========================================= -->
	<add key="defaultCommunity" value="ce-registry"/>
	<add key="additionalCommunity" value="navy"/>

    <add key="credentialRegistryUrl" value="https://sandbox.credentialengineregistry.org/"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="cerGetEnvelope" value="https://sandbox.credentialengineregistry.org/{0}/envelopes/{1}"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

	<add key="credentialRegistryResource" value="https://sandbox.credentialengineregistry.org/{0}/resources/{1}"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="credentialRegistrySearch" value="https://sandbox.credentialengineregistry.org/ce-registry/search"
					xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<!--
		
		<add key="credentialRegistryUrl" value="https://staging.credentialengineregistry.org/"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="cerGetEnvelope" value="https://staging.credentialengineregistry.org/{0}/envelopes/{1}"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

		<add key="credentialRegistryResource" value="https://staging.credentialengineregistry.org/{0}/resources/{1}"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="credentialRegistrySearch" value="https://staging.credentialengineregistry.org/ce-registry/search"
					 xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    -->
		<add key="notifyOnException" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="appTraceLevel" value="6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="botTraceLevel" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
  <connectionStrings>
	
		<add name="DefaultConnection" connectionString="Server=(local);database=ctdlEditor;User Id=ctiAdmin;password=w@rkH#rdPl$yH%rd;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="AccountEntities" connectionString="metadata=res://*/Accounts.Accounts.csdl|res://*/Accounts.Accounts.ssdl|res://*/Accounts.Accounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ctdlEditor;persist security info=True;user id=ctiAdmin;password=w@rkH#rdPl$yH%rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="MainConnection" connectionString="Server=(local);database=credFinder;User Id=ctiAdmin;password=w@rkH#rdPl$yH%rd;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="workIT_RO" connectionString="Server=(local);database=credFinder;User Id=ctiReader;password=ctiDev2@16!;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="workITEntities" connectionString="metadata=res://*/Tables.workIT.csdl|res://*/Tables.workIT.ssdl|res://*/Tables.workIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=credFinder;persist security info=True;user id=ctiAdmin;password=w@rkH#rdPl$yH%rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="workITViews" connectionString="metadata=res://*/Views.workITViews.csdl|res://*/Views.workITViews.ssdl|res://*/Views.workITViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=credFinder;persist security info=True;user id=ctiAdmin;password=w@rkH#rdPl$yH%rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/> 

	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
	<location path="signin-google">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>