<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="5000" />
    <!-- env, version configurations-->
    <add key="siteVersion" value="2020-02-06a" />
    <add key="envType" value="development" />
    <add key="serverName" value="localhost" />
    <add key="credentialFinderSite" value="https://sandbox.credentialengine.org/finder/" />
    <!-- authentication related - mostly not used now (using SSO through accounts) -->
    <add key="usingSSL" value="false" />
    <!-- set to true to require email confirmation of registration. Set to false if no email service is configured. -->
    <add key="doingEmailConfirmation" value="false" />
    <add key="forgotPasswordExpiryDays" value="1" />
    <add key="usingQuantitiveValue" value="true" />
    <!-- dev google  API keys,  mostly not used now (using SSO through accounts) -->
    <!--    Leave empty if not using google login-->
    <add key="goggleClientId" value="" />
    <add key="goggleClientSecret" value="" />
    <!-- ==================== auth related for use with accounts site -->
    <add key="siteAdminUserId" value="1" />
    <add key="isAuthRequiredForImport" value="false" />
    <add key="adminKey" value="##ADMIN_KEY##" />
    <add key="CEAccountSystemStaticPassword" value="##ACCOUNTS_PW##" />
	  
    <add key="ceServicesLinkCheckerSearch" value="" />
	  
    <!-- using localhost version of accounts site
    <add key="accountsRegister" value="https://localhost:44320/account/register" />
    <add key="accountsLogin" value="https://localhost:44320/account/login" />
    <add key="accountsDashboard" value="https://localhost:44320/dashboard" />
    <add key="accountsAuthorizeApi" value="https://localhost:44320/Api/Authorize" />
    <add key="CEAccountOrganizationsForUserApi" value="https://localhost:44320/api/GetOrganizationsForUser" />
     -->

    <add key="accountsRegister" value="https://sandbox.credentialengine.org/accounts/account/register" />
    <add key="accountsLogin" value="https://sandbox.credentialengine.org/accounts/account/login" />
    <add key="accountsDashboard" value="https://sandbox.credentialengine.org/accounts/dashboard" />
    <add key="accountsAuthorizeApi" value="https://sandbox.credentialengine.org/accounts/Api/Authorize" />
    <add key="CEAccountOrganizationsForUserApi" value="https://sandbox.credentialengine.org/accounts/api/GetOrganizationsForUser" />

	  <!-- ======== SSO WITH CE sandbox - N/A for this version ========  -->
    <add key="finderCallbackUrl" value="Account/CE_Login" />
    <add key="finderClientToken" value="##N/A##" />
    <add key="finderSecretToken" value="##N/A##" />
    <!-- ======== general ========  -->
    <add key="credentialPublisherSite" value="https://sandbox.credentialengine.org/publisher" />
    <add key="showingSearchOnHome" value="true" />
    <add key="credentialCacheMinutes" value="0" />
    <add key="organizationCacheMinutes" value="0" />
    <add key="learningOppCacheMinutes" value="0" />
    <add key="credSearchCategories" value="2,4,13,14,18,21,39," />
    <add key="orgSearchCategories" value="6,7,8,9,30," />
    <add key="asmtSearchCategories" value="14,21,37,54,56," />
    <add key="loppSearchCategories" value="14,21,53," />
    <add key="appendingOrgNameToAutocomplete" value="true" />
    <add key="hideFrameworksNotPublished" value="true" />
    <!-- codes used for import services ========================================= -->
    <add key="maxKeywordLength" value="600" />
    <add key="maxReferenceTextLength" value="600" />
    <add key="maxReferenceUrlLength" value="600" />
    <add key="skippingLinkChecking" value="false" />
    <add key="treatingRemoteFileNotExistingAsError" value="false" />
    <add key="includingAllRolesForOrgRoles" value="false" />
    <add key="requireRegionOrIsGlobal" value="false" />
    <!-- for convenience, show IsPart filters with the other connections -->
    <add key="includeHasPartIsPartWithConnections" value="true" />
    <!-- Normally true. Set to false during mass updates. Actually would be a problem - really need the previous entityLastUpdated -->
    <add key="usingEntityLastUpdatedDateForIndexLastUpdated" value="true" />
    <add key="doingLinkChecking" value="true" />
    <add key="doingExpandOfRegion" value="true" />
    <!-- widget ========================================= -->
    <!--widgetUploadPath - path to store uploaded logos and stylesheets -->
	  <add key="widgetUploadPath" value="c://data//CredentialFinder//widgetUploads//" />
    <!--  url to use for displaying a widget logo or referencing a style sheet. 
      A virtual directory must be defined on the webserver. It will be an alias to the folder defined in the appKey: widgetUploadPath-->
    <add key="widgetResourceUrl" value="https://sandbox.credentialengine.org/finder/wcontent/" />
    <!-- elasticsearch ========================================= -->
    <!-- To control whether elastic or sql server is used for searching. Defaults to false. 
       Change to true if an elastic instance has been enabled.  -->
    <!-- If including references in search results, or least for a detail page search, set to 2, otherwise 3
  relates to credentials, assessments and lopps 
  19-04-18 changed to have separate keys for asmts, and lopps -->
    <add key="minEntityStateId" value="2" />
    <add key="minAsmtEntityStateId" value="3" />
    <add key="minLoppEntityStateId" value="3" />
    
	  <!-- set the following to true if using elastic. False indicates that seaches will use sql server -->
    <add key="usingElasticCredentialSearch" value="false" />
    <add key="usingElasticOrganizationSearch" value="false" />
    <add key="usingElasticAssessmentSearch" value="false" />
    <add key="usingElasticLearningOppSearch" value="false" />
    
    <add key="elasticSearchUrl" value="http://localhost:9200/" />
    <!--  names of the collection for each specific search - when using elastic-->
    <!--   -->
    <add key="credentialCollection" value="credentials" />
    <add key="organizationCollection" value="organizations" />
    <add key="assessmentCollection" value="assessments" />
    <add key="learningOppCollection" value="learningopps" />

    <!-- more applicable to a full rebuild of elastic-->
    <add key="delayingAllCacheUpdates" value="true" />
    <add key="credentialRebuildPageSize" value="9999" />
    <!-- 0-none; 1- Use Index DON'T USE!!; 2-use Bulk-->
    <add key="updateCredIndexAction" value="2" />
    <!-- Credential registry ========================================= -->
    <add key="usingGraphDocuments" value="true" />
    <!-- Credential Registry Search -->
    <!--<add key="AssistantCTDLJSONSearchAPIUrl" value="http://localhost:5707/search/ctdl" />
    <add key="AssistantGremlinSearchAPIUrl" value="http://localhost:5707/search/gremlin" />-->
    <add key="CredentialEngineAPIKey" value="##PROVIDE YOUR API KEY##" />
    <add key="AssistantCTDLJSONSearchAPIUrl" value="https://sandbox.credentialengine.org/assistant/search/ctdl" />
    <add key="AssistantGremlinSearchAPIUrl" value="https://sandbox.credentialengine.org/assistant/search/gremlin" />

	<add key="defaultCommunity" value="ce-registry" />
	<add key="additionalCommunity" value="" />
	  
    <!--  SANDBOX    -->
    <add key="credentialRegistryUrl" value="https://sandbox.credentialengineregistry.org/" />
    <add key="cerGetEnvelope" value="https://sandbox.credentialengineregistry.org/{0}/envelopes/{1}" />
	<add key="credentialRegistrySearch" value="https://sandbox.credentialengineregistry.org/{0}/search?" />
	  
    <add key="credentialRegistryResource" value="https://sandbox.credentialengineregistry.org/{0}/resources/{1}" />
    <add key="cassResourceViewerUrl" value="https://cassproject.github.io/cass-editor/index.html?server=https://dev.cassproject.org/api/&amp;ceasnDataFields=true&amp;origin=http://ctitest.siuccwd.com&amp;css=https://credentialengine.org/publisher/Style/CassStyles&amp;frameworkId=https://dev.cassproject.org/api/data/{0}" />

    <!-- PROD  
  <add key="credentialRegistryUrl" value="https://credentialengineregistry.org/" />
  <add key="cerGetEnvelope" value="https://credentialengineregistry.org/{0}/envelopes/{1}" />
  <add key="credentialRegistrySearch" value="https://credentialengineregistry.org/{0}/search?" />
  <add key="credentialRegistryResource" value="https://credentialengineregistry.org/{0}/resources/{1}" />
  <add key="cassResourceViewerUrl" value="https://cass.credentialengine.org/cass-editor/index.html?server=https://cass.credentialengine.org/&amp;ceasnDataFields=true&amp;origin=https://credentialengine.org&amp;css=https://credentialengine.org/publisher/Style/CassStyles&amp;frameworkId=https://cass.credentialengine.org/api/data/{0}" />
 -->
    <!-- Import related -->
    <add key="importing_credential" value="true" />
    <add key="importing_assessment_profile" value="true" />
    <add key="importing_learning_opportunity_profile" value="true" />
    <add key="importing_organization" value="true" />
    <add key="importing_cost_manifest_schema" value="false" />
    <add key="importing_condition_manifest_schema" value="false" />
    <add key="importing_competency_frameworks" value="false" />
    <add key="importing_pathways" value="false" />
    <add key="importing_ratings" value="false" />
	  
    <add key="skipCredImportIfNoOccupations" value="false" />
    <add key="skipAsmtImportIfNoCompetencies" value="false" />
    <add key="skipAsmtImportIfNoCIP" value="false" />
    <add key="skipLoppImportIfNoCompetencies" value="false" />
    <add key="skipOppImportIfNoShortRegions" value="false" />
    <add key="skipLoppImportIfNoCIP" value="false" />
    <!-- ACCOUNT/CONTACT US NOTIFICATION ====================================================== -->
    <!-- notifyOnEmailNotFound: if true, user will be notified where email not found during forgot password process -->
    <add key="notifyOnEmailNotFound" value="true" />
    <add key="notifyOnEmailNotConfirmed" value="true" />
    <!-- EmailService: smtp, serviceApi, sendGrid, mailgun -->
    <add key="emailService" value="smtp" />
    <add key="MailgunSendingDomainName" value="credentialengine.org" />
    <add key="MailgunSecretAPIKey" value="PROVIDE OWN IF USING MAILGUN" />
    <add key="MailgunPublicAPIKey" value="PROVIDE OWN IF USING MAILGUN" />
    <!-- use web service, and ignore others TEMP UNTIL OUR OWN IS SET UP-->
    <add key="SendEmailService" value="" />
    <add key="SmtpHost" value="localhost" />
    <!-- sendEmailFlag - use TRUE uppercase to set on -->
    <add key="sendEmailFlag" value="FALSE" />
    <add key="usingTempOverrideEmail" value="yes" />
    <add key="notifyingUserOnImport" value="false" />
    <!-- contact US email addresses -->
    <add key="contactUsMailTo" value="email@yourDomain.com" />
    <add key="contactUsMailFrom" value="email@yourDomain.com" />
    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="email@yourDomain.com" />
    <add key="systemNotifyFromEmail" value="devEnv@yourDomain.com" />
    <add key="logAllEmail" value="yes" />
    <!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
    <add key="logErrors" value="yes" />
    <add key="notifyOnException" value="no" />
    <add key="appTraceLevel" value="8" />
    <add key="botTraceLevel" value="8" />
    <add key="path.error.log" value="C:\@logs\[date]_finder_ErrorLog.txt" />
    <add key="path.email.log" value="C:\@logs\[date]_finder_EmailLog.txt" />
    <add key="path.trace.log" value="C:\@logs\[date]_finder_TraceLog.txt" />
    <add key="path.botTrace.log" value="C:\@logs\[date]_finder_botTraceLog.txt" />
    <add key="path.log.file" value="C:\@logs\[date]_[filename].json" />
    <add key="urlExceptions" value="" />
  </appSettings>
  <connectionStrings>
    <!-- DefaultConnection and AccountEntities are used for account mgmt -->

    <add name="DefaultConnection" connectionString="Server=(local);database=credFinder_github;User Id=ceGithub;password=ce$Rocks2020;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />

    <add name="AccountEntities" connectionString="metadata=res://*/Accounts.Accounts.csdl|res://*/Accounts.Accounts.ssdl|res://*/Accounts.Accounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=credFinder_github;persist security info=True;user id=ceGithub;password=ce$Rocks2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="MainConnection" connectionString="Server=(local);database=credFinder_github;User Id=ceGithub;password=ce$Rocks2020;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    
    <add name="workIT_RO" connectionString="Server=(local);database=credFinder_github;User Id=ceGithub;password=ce$Rocks2020;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    
    <add name="workITEntities" connectionString="metadata=res://*/Tables.workIT.csdl|res://*/Tables.workIT.ssdl|res://*/Tables.workIT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=credFinder_github;persist security info=True;user id=ceGithub;password=ce$Rocks2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="workITViews" connectionString="metadata=res://*/Views.workITViews.csdl|res://*/Views.workITViews.ssdl|res://*/Views.workITViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=credFinder_github;persist security info=True;user id=ceGithub;password=ce$Rocks2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" maxRequestLength="1048576" />
    <!--<httpCookies httpOnlyCookies="true" />-->
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/PageNotFound.html" />
    </customErrors>
    <sessionState mode="InProc" cookieless="UseCookies" timeout="720" />

    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <location path="signin-google">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.DependencyCollector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>