<!--[if lte IE 10]>
	<div id="oldIEBlock" style="background-color: #B55130; padding: 10px; margin: 0 -5vw;">
		<div id="oldIEMessage" style="padding:20px; margin: 10px 5vw; background-color: #EEE; border: 3px solid #E33; border-radius: 5px;">
			<h1 style="font-size:40px;">Attention</h1>
			<p>You are using an outdated, insecure browser that <a href="https://support.microsoft.com/en-us/lifecycle#gp/Microsoft-Internet-Explorer" target="_blank">Microsoft no longer supports</a>. This site requires a modern browser to fully function. Some features may be unavailable to you until you upgrade to a modern browser. We recommend one of the following:</p>
			<ul>
				<li><a href="https://www.google.com/chrome/" target="_blank">Get the latest <b>Google Chrome</b></a></li>
				<li><a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Get the latest <b>Mozilla Firefox</b></a></li>
				<li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Get the latest <b>Internet Explorer</b></a></li>
			</ul>	
		</div>	
	</div>
<![endif]-->