<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens.JWT" version="0.1.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net462" />
  <package id="Sendgrid" version="9.9.0" targetFramework="net462" />
  <package id="SendGrid.CSharp.HTTP.Client" version="2.0.4" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
</packages>